*target*
*.jar
*.war
*.ear
*.class

#vim specific
*~

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#generated xmls
cermine-impl/*.xml

#webapp logs
cermine-web/catalina.base*
