@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa/Comfortaa_Regular.eot"); }

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url("../fonts/Comfortaa/Comfortaa-Bold.eot"); }

@font-face {
  font-family: 'Comfortaa-Light';
  src: url("../fonts/Comfortaa/Comfortaa-Light.eot"); }

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype"); }

@font-face {
  font-family: Comfortaa-Bold;
  src: url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype"); }

@font-face {
  font-family: Comfortaa-Light;
  src: url("../fonts/Comfortaa/Comfortaa-Light.ttf") format("truetype"); }
