/* 
    Document   : style
    Created on : 2012-11-28, 22:32:24
    Author     : Aleksander Nowinski <a.nowinski@icm.edu.pl>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    text-align: center;
    font-family: sans-serif;
    background: #CBFD96;
    color: #142310;
}

#wrapper {
    text-align: left;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background: white;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*    padding-left: 30px;
        padding-right: 30px;*/
}

a {
    color: #142310;
}

a:visited {
    color: #0d2e04;
}



#logo {
    display: inline;
    padding-right: 20px;
}

#banner {
    vertical-align: top;

}

#banner  h1 {
    font-size: 52px;
}

#header a {
    text-decoration: none;

}
#header {
    margin-top: 0px;
    background: #80B280;
    border-bottom: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;

}

#top_nav {

    width: 100%;
    padding: 0;
    background: #4f871f;
    border: 1px solid black;
}

#top_nav li {
    display: inline;
    padding: 10px;
}

#footer {
    background: #80B280;
    border-top: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#versions {
    font-size: small;
    padding-top: 10px;
    text-align: right;
}


#main {
/*    padding-left: 50px;
    padding-right: 50px;*/
    padding: 50px;
}

#main h1 {
    font-size: 24px;
}

#main h2 {
    font-size: 20px;
}

#file_upload_form {
    text-align: center;
}

#file_upload_form input {
    margin: 15px;
}

#task_table {
    width: 100%;
    background: gray;
    
    /*border-collapse: true;*/
    border: 2px solid darkgray;
    border-spacing: 0;
}

#task_table th {
    text-align: left;
}

#task_table tr:first-of-type {
    background: greenyellow;
} 

#task_table tr:nth-child(even) {
    background: whitesmoke;
}


#task_table tr:nth-child(odd) {
    background: lightgray;
}

.status {
    font-weight: bold;
}

.success .status {
    color:darkgreen;
}


.processing .status {
    color:green;
}

.queued .status {
    color: darkblue;
}

.failure td {
    background: red;
}

#task_table td {
    text-align: left;
    /*margin: 0;*/
    /*border: none;*/
    
    /*background: lightgray;*/
    
}

table.summaryTable {
    
    width: 100%;
    background: gray;
    border: 2px solid darkgray;
    border-spacing: 0;
    vertical-align: top;
}

table.summaryTable th {
    vertical-align: top;
    text-align: right;
    width: 10%;
    padding: 5px;
}

table.summaryTable td {
    vertical-align: top;
    text-align: left;
}

table.summaryTable tr:nth-child(even) {
    background: whitesmoke;
}


table.summaryTable tr:nth-child(odd) {
    background: lightgray;
}

.tes{}