
#xml-mining {
	height: 200px;
	margin: 0px auto;
	position: relative;
	width: 500px;

	$deg : 0deg;

	#axe, #article {
		position: absolute;
	}
	#article {
		left: 175px;
		top: 35px;
	}
	#xml-parser {
		font-size: 16px;
		font-weight: bold;
		left: 200px;
		position: absolute;
		top: 150px;
	}
}